# Laravel
backend/vendor/
backend/.env
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/*.php

# React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker Mailserver runtime data
mail/mailserver/mail-data/
mail/mailserver/mail-state/
mail/mailserver/mail-logs/

# Docker compose local env
deployment/compose/.env
